.header {
    a {
        display: block;
        padding: 10px 20px;
        line-height: 1.2em;
        color: #fff;
        border-left: 1px solid #595959;
        &:hover {
            background:#595959;
            text-decoration: none;
        }
    }
    &.--nav, &.--drop-menu {
        *zoom:1;
        list-style: none;
        margin: 0;
        padding: 0;
        background: #333;

        &:before, &:after {
            content:"";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
    &.__nav-item {
        float: left;
        position: relative;
        > a {

        }
    }
    &.--drop-menu {
        background: #273754;
        a {
            border: none;
            &:hover {
                background: rgba(0,0,0,0.2);
            }
        }
    }
    &.__drop-menu-item {
        width: 200px;
    }
}


//Not Animated

.header {
    &.__nav-item &.--drop-menu {
        position: absolute;
        left: -9999em; // allow to make sure its off the screen
        top: 36px;
        z-index: 1;
    }
    &.--nav > &.__nav-item:hover &.--drop-menu {
        left: 0; // allow to hover nav-item > appear drop-menu
    }
}



// Fade In / Out
.header {
    &.--nav.--fadeIn > &.__nav-item &.--drop-menu {
        position: absolute;
        left: 0;
        topt: 36px;
        z-index: 1;
        visibility: hidden; // make element invisinble
        opacity: 0;
        filter: alpha(opacity=0); //support IE8 and below opacity
        transition: 200ms ease;
    }

    &.--nav.--fadeIn > &.__nav-item:hover &.--drop-menu {
        visibility: visible;
        opacity: 1;
        filter:alpha(opacity=100);
    }
}

// Slide down #1
.header {
    &.--nav.--slideDown-1 > &.__nav-item &.--drop-menu {
        position: absolute;
        left: 0;
        topt: 36px;
        z-index: 1;
    }

    &.--nav.--slideDown-1 > &.__nav-item &.--drop-menu &.__drop-menu-item {
        overflow: hidden; // set contents of menu-item to be visible if the height is zero
        height: 0;
        transition: height 200ms ease-in;
    }

    &.--nav.--slideDown-1 > &.__nav-item:hover &.--drop-menu &.__drop-menu-item {
        height: 36px;
    }
}

// Slide down #2
.header {
    &.--nav.--slideDown-2 > &.__nav-item &.--drop-menu {
        position: absolute;
        left: 0;
        topt: 36px;
        z-index: 1;
    }

    &.--nav.--slideDown-2 > &.__nav-item &.--drop-menu &.__drop-menu-item {
        overflow: hidden; // set contents of menu-item to be visible if the height is zero
        max-height: 0;
        transition: max-height 500ms ease;
    }

    &.--nav.--slideDown-2 > &.__nav-item:hover &.--drop-menu &.__drop-menu-item {
        max-height: 150px; //allow to have taller px then 150px
    }
}

// Fold Out
.header {
    &.--nav.--foldOut > &.__nav-item &.--drop-menu {
        position: absolute;
        left: 0;
        topt: 36px;
        z-index: 1;
        max-height: 0;
        overflow: hidden;
        transform-origin: 50% 0;
        transform: perspective(400) rotate3d(1,0,0,-90deg); //create effect appears rotated away from you
        transition: 350ms;
    }

    &.--nav.--foldOut > &.__nav-item:hover &.--drop-menu {
        max-height: 1000px;
        transform:perspective(400) rotate3d(0,0,0,0); // the lower the number is the closer for pronounced depth effect
    }
}

