$light-grey: #b2b2b2;
$dark-grey: #4b4b4b;


/*------------------------------------*\
    #basic animation tutorial
    *------------------------------------*/
    .layer {
    fill: $dark-grey; // give layers grey colour
}

// Set each of keyframes, one for each of the layers
@keyframes layer1 {
    0, 65% {
        fill: $light-grey;
    }
    75%, 82% {
        fill: $dark-grey;
    }
    92%, 100% {
        fill: $light-grey;
    }
}

@keyframes layer2 {
    0%, 40% {
        fill: $light-grey;
    }
    50%, 86% {
        fill: $dark-grey;
    }
    96%, 100%{
        fill: $light-grey;
    }
}

@keyframes layer3 {
    0%, 15% {
        fill: $light-grey;
    }
    25%, 90% {
        fill: $dark-grey;
    }
    100% {
        fill: $light-grey;
    }
}


// apply each layer animations
.layer {
    animation: layer 4s linear infinite; // aplly animation 4s delay linar infinite
    &.layer1 {
        animation-name: layer1;
    }
    &.layer2 {
        animation-name: layer2;
    }
    &.layer3 {
        animation-name: layer3;
    }
}

/*------------------------------------*\
    #svg animation draw
    *------------------------------------*/


    .layer.draw {
        fill: none;
        stroke-width: 3;
        animation: 4s linear infinite;
        transition: stroke-dashoffset 1s ease-out,fill 0.5s 1s linear;
}

@keyframes layerDraw1 {
    50%, 100%{
        stroke: $dark-grey;
        stroke-width: 3;
        stroke-dasharray: 697.923583984375 697.923583984375;
        fill: white;
    }
    75%, 93% {
        fill: $dark-grey;
        stroke-dashoffset: 697.923583984375;
    }
    100% {
        stroke-dashoffset: 697.923583984375;
        stroke-width: 5;
    }
}

@keyframes layerDraw2 {
    25%, 100%{
        stroke: $dark-grey;
        stroke-width: 3;
        stroke-dasharray: 697.923583984375 697.923583984375;
        fill: white;
    }
    75%, 85% {
        fill: $dark-grey;
        stroke-dashoffset: 697.923583984375;
    }
    100% {
        stroke-dashoffset: 697.923583984375;
        stroke-width: 5;
    }
}

@keyframes layerDraw3 {
    50%, 100%{
        stroke: $dark-grey;
        stroke-width: 3;
        stroke-dasharray: 697.923583984375 697.923583984375;
        fill: white;
    }
    75%, 93% {
        fill: $dark-grey;
        stroke-dashoffset: 697.923583984375;
    }
    100% {
        stroke-dashoffset: 697.923583984375;
        stroke-width: 5;
    }
}


.layer {
    &.layer1.draw {
        animation-name: layerDraw1;
    }
    &.layer2.draw {
        animation-name: layerDraw2;
    }
    &.layer3.draw {
        animation-name: layerDraw3;
    }
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    svg {
        margin: 0 auto;
    }
}
