.base-fonts {
  flex-direction: column;
  h4.title {
    padding-top: 10px;
  }
  .demo-height {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .is-flex {
    padding: 10px 0 5px;
  }
}

.base-typography {
  @include flex-align(center, top);
  flex-direction: column;
  .demo-height{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .is-flex {
    padding: 20px 0;
  }
}

.base-text {
  @include flex-align(center, top);
  flex-direction: column;
  .is-flex {
    padding: 20px 0;
  }
}

.base-paragraphs,
.base-blockquote,
.base-time,
.base-hr,
.base-lists
{
  @extend .base-text;
}



