body {
  background: #2a2e39;
}

.banner {
  z-index: 10;
  width: 100%;
  height: 100%;
  height: 100vh;
  background: #2a2e39;
  transition: transform 0.6s;

  &.container--open {
    transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
  }

  > .container {
    position: relative;
    min-height: 100%;
    max-width: 1250px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
  }
  &-background-intro {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 120%;  // take 100% min-height on any device
    object-fit: cover;
    // States
    transition: transform 0.6s, opacity 0.6s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

    // States
    &.container--open {
      opacity: 0;
      transform: translate3d(0, 20%, 0);
    }
  }
  &--content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
  }
  &-title {
    font-family: "Playfair Display", Georgia, serif;
    line-height: 1;
    color: white;
    font-size: 75px;
    font-weight: bolder;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);

  }
  &__content-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 40px;
  }

  &-group {
    display: flex;
    flex-direction: row;
  }
  &-icon {
    color: white;
    padding: 0 45px;
    span {
      font-size: 32px;
    }
  }
  &-description {
    height: 45px;
    font-size: 20px;
    color: white;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
    .banner-author {
      font-size: 20px;
      color: #36b6dd;
    }
  }
  &-icon {
    display: flex;
    align-items: center;
    padding: 0 20px;
    a{
      font-size: 28px;
      color: #36b6dd;
      font-size: 20px;
      padding: 0 20px;
    }
  }
}

.banner-trigger {
  align-items: center;
  background: 0;
  overflow: hidden;
  padding: 0;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;

  .icon {
    transition: opacity 0.3s, transform 0.3s;
    transform-origin: 50% 50%;
    rect {
      stroke: #f5f5f5;
      fill: none;
      stroke-width: 2px;
    }
  }

  // States
  .icon--cross,
  .trigger--active .icon--grid {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 1);
  }
  .trigger--active .icon--cross {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}

.card {
  width: 100%;
  height: 100%;
  &-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 250px 5px 0;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      opacity: 1;
      transition: opacity 0.6s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      pointer-events: none;

      &.container--open {
        opacity: 0;
      }
    }
  }

  &-item {
    position: relative;
    overflow: hidden;
    height: 22vw;
    flex: 1 0 25%;
    outline: none;
    border: 5px solid #2a2e39;
    border-width: 0 5px 10px;
    background: #2a2e39;
  }

  &-item-image {
    position: absolute;
    top: 50%;
    left: 0;
    min-height: 100%;
    width: 100%;
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
    transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
    object-fit: cover;
    &.item:hover {
      opacity: 1;
      transform: translate3d(0, -50%, 0);
    }
  }

  &-item-title {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 1em;
    color: #dbdbdb;
    font-size: 1.85em;
    font-family: "Playfair Display", Georgia, serif;
    line-height: 1;
    transition: transform 0.3s, opacity 0.3s;
    &.item:hover {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }
  }
}


/* Media Queries */
@media screen and (max-width: 1440px) {
  .card-item {
    height: 30vw;
    -webkit-flex: 1 0 33.333%;
    flex: 1 0 33.333%;
  }
}

@media screen and (max-width: 1000px) {
  .card-item {
    height: 45vw;
    -webkit-flex: 1 0 50%;
    flex: 1 0 50%;
  }
}

@media screen and (max-width: 590px) {
  .card-item {
    height: 90vw;
    -webkit-flex: 1 0 100%;
    flex: 1 0 100%;
  }
}
